.table {
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
}

.row {
    display: table-row;
    background: #e1d8cb;
}

.cell {
    display: table-cell;
    width: 120px;
    height: 115px;
    vertical-align: middle;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    color: #776e65;
    border: 12px solid #bbada0;
}
.appear-2 {
    background: #f9f7f3;
}

.appear-4 {
    background: #ede0c8;
}

.appear-8 {
    color: #f9f6f2;
    background: #f2b179;
}

.appear-16 {
    color: #f9f6f2;
    background: #f59563;
}

.appear-32 {
    color: #f9f6f2;
    background: #f67c5f;
}

.appear-64 {
    color: #f9f6f2;
    background: #f65e3b;
}

.appear-128 {
    font-size: 60px;
    color: #f9f6f2;
    background: #edcf72; 
}

.appear-256 {
    font-size: 60px;
    color: #f9f6f2;
    background: #edcc61; 
}

.appear-512 {
    font-size: 60px;
    color: #f9f6f2;
    background: #f65e3b;
}

.appear-1024 {
    font-size: 60px;
    color: #f9f6f2;
    background: #f2b179; 
}

.appear-2048 {
    font-size: 60px;
    color: #f9f6f2;
    background: #f27e79;
    opacity: 0;
    transform: scale(0);
    -webkit-animation: pop .2s ease;
            animation: pop .2s ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: .5;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: .5;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}