@import "summary.css";
@import "matrix.css";

body {
    position: static;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    background: #faf8ef;
}

#buttonBlock {
    margin: 30px auto 0 auto;
    text-align: center;
}

#newGameBtn {
    width: 200px;
    height: 70px;
    padding: 3px 10px;
    font-size: 18px;
    color: white;
    background: lightgray;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .5s ease;
}

#newGameBtn:hover {
    font-size: 19px;
    background: #ffc107;
}